@charset "utf-8";

.holi{
	background-color:coral;
	text-align: center;
	width: 45%;
	float: left;
	height: 100px;
	margin-left: 25px;
	margin-right: 25px;
}

.galeria{
	background-color: blueviolet;
	width: 20%;
	float: left;
	margin: 2%;
	height: 200px;

}

.box{
	background-color: coral;
	text-align:center;
	float:left;
	width:30%;
	margin:8px;
	height:40px;
}

.foot{
	background-color: coral;
	padding: 20px;
	margin: 20%;
	width: 80%;
}