@charset "utf-8";

.logo{
	background-color: cadetblue;
	width: 90%;
	height: 80px;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}

.part2{
	background-color: coral;
	width: 88.5%;
	height: 30px;
	margin-left: 5%;
	margin-right: 5%;
	padding: 10px;
	text-align: center;
}

.banner{
	background-color: cadetblue;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: 150px;
	text-align: center;
}
.dividir{
	height: 160%;
	margin: 5%;
	
}
.partido{
	background-color: coral;
	width:30%;
	float: left;
	height: 450px;
}

.body{
	background-color: coral;
	width: 68%;
	float: right;
	height: 450px;

}
.end{
	background-color: cadetblue;
	width: 90%;
	height: 50px;
	margin-left: 5%;
	margin-right: 5%;
	text-align: center;
}
.foot{
	margin: 5%;
}
.pie{
	background-color: cadetblue;
	text-align: center;
	width: 98.5%;
	float: left;
	margin-left: 0.5%;
	margin-right: 0.5%;
	padding: 8px;
	height: 50px;
}
